<div class="page" data-name="detail">
    <div class="navbar">
        <div class="navbar-bg bg-blue "></div>
        <div class="navbar-inner color-white">
            <div class="left">
                <a class="link back">
                    <i class="f7-icons">arrow_left</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content bg-color-light">
        <section class="section-detail-header bg-blue no-margin-top padding">
            <div class="row">
                <div class="col">
                    <div
                        class="block-title block-title-medium no-margin-left no-margin-bottom fw-700 text-color-white">
                        Pekerjaan Rumah
                    </div>
                    <p class="text-color-white">Asah Kemampuan mu disini
                        gratis bisa kamu print</p>
                </div>
                <div class="col">
                    <img src="../assets/images/svg/illustration-page.svg" class="w-100" alt="">
                </div>
            </div>

        </section>
       
       

    </div>
</div>