<template>
    <div class="page" data-name="detail">
        <div class="navbar">
            <div class="navbar-bg bg-blue "></div>
            <div class="navbar-inner color-white">
                <div class="left">
                    <a class="link back">
                        <i class="f7-icons">arrow_left</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content bg-color-light">
            <section class="section-absen">
                <div class="block block-strong no-padding">
                    <div id="demo-calendar-inline-container"></div>
                </div>

            </section>
        </div>
    </div>
</template>

<script>
    export default (props, {
        $,
        $f7,
        $on
    }) => {

        let calendarInline;

        $on('pageInit', () => {


            // Inline with custom toolbar
            var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December'
            ];
            calendarInline = $f7.calendar.create({
                containerEl: '#demo-calendar-inline-container',
                value: [new Date()],
                weekHeader: false,
                renderToolbar: function () {
                    return `
            <div class="toolbar calendar-custom-toolbar no-shadow">
              <div class="toolbar-inner">
                <div class="left">
                  <a href="#" class="link icon-only"><i class="icon icon-back ${$f7.theme === 'md' ? 'color-black' : ''}"></i></a>
                </div>
                <div class="center"></div>
                <div class="right">
                  <a href="#" class="link icon-only"><i class="icon icon-forward ${$f7.theme === 'md' ? 'color-black' : ''}"></i></a>
                </div>
              </div>
            </div>
            `;
                },
                on: {
                    init: function (c) {
                        $('.calendar-custom-toolbar .center').text(monthNames[c.currentMonth] +
                            ', ' + c.currentYear);
                        $('.calendar-custom-toolbar .left .link').on('click', function () {
                            calendarInline.prevMonth();
                        });
                        $('.calendar-custom-toolbar .right .link').on('click', function () {
                            calendarInline.nextMonth();
                        });
                    },
                    monthYearChangeStart: function (c) {
                        $('.calendar-custom-toolbar .center').text(monthNames[c.currentMonth] +
                            ', ' + c.currentYear);
                    }
                }
            });
        });

        return $render;
    };
</script>