    <div class="page" data-name="detail">
        <div class="navbar">
            <div class="navbar-bg bg-blue "></div>
            <div class="navbar-inner color-white">
                <div class="left">
                    <a class="link back">
                        <i class="f7-icons">arrow_left</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content bg-color-light">
            <section class="section-detail-header bg-blue no-margin-top padding">
                <div class="row">
                    <div class="col">
                        <div
                            class="block-title block-title-medium no-margin-left no-margin-bottom fw-700 text-color-white">
                            Bank Soal
                        </div>
                        <p class="text-color-white">Asah Kemampuan mu disini
                            gratis bisa kamu print</p>
                    </div>
                    <div class="col">
                        <img src="../assets/images/svg/illustration-page.svg" class="w-100" alt="">
                    </div>
                </div>

            </section>
            <section class="section-detail-panel padding">
                <div class="searchbar searchbar-inline margin-bottom">
                    <div class="searchbar-input-wrap ">
                        <input type="search" placeholder="Cari soal" class="rounded-7" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                </div>
                <div class="row">
                    <a class="col button smart-select smart-select-init btn-sort" data-open-in="sheet">
                        <i class="f7-icons margin-right">slider_horizontal_3</i> Filter
                        <select name="filter">
                            <option value="" selected>Filter 1</option>
                            <option value="">Filter 2</option>
                            <option value="">Filter 3</option>
                            <option value="">Filter 4</option>
                            <option value="">Filter 5</option>
                        </select>
                    </a>

                    <a class="col button smart-select smart-select-init btn-sort" data-open-in="sheet">
                        <i class="f7-icons margin-right">slider_horizontal_3</i> Sort
                        <select name="sort">
                            <option value="" selected>Sort 1</option>
                            <option value="">Sort 2</option>
                            <option value="">Sort 3</option>
                            <option value="">Sort 4</option>
                            <option value="">Sort 5</option>
                        </select>
                    </a>
                </div>
            </section>
            <section class="section-detail-content padding">
                <div class="list accordion-list no-margin-top">
                    <ul>
                        <li class="accordion-item">
                            <a class="item-content item-link rounded-5" href="#">
                                <div class="item-inner">
                                    <div class="item-title">Bahasa Inggris</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list media-list">
                                    <ul>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/ebook-previews/69199/235354/1.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">Bahasa Inggris Kelas X</div>
                                                    </div>
                                                    <div class="item-subtitle">34 Bab 50 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_59755b6bc0ab9390875727.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">Bahasa Inggris Kelas XI</div>
                                                    </div>
                                                    <div class="item-subtitle">40 Bab 55 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_5975715a31d0a443724631.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">Bahasa Inggris Kelas XII</div>
                                                    </div>
                                                    <div class="item-subtitle">38 Bab 45 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">IPA</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list media-list">
                                    <ul>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/ebook-previews/69199/235354/1.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">IPA Kelas X</div>
                                                    </div>
                                                    <div class="item-subtitle">34 Bab 50 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_59755b6bc0ab9390875727.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">IPA Kelas XI</div>
                                                    </div>
                                                    <div class="item-subtitle">40 Bab 55 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_5975715a31d0a443724631.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">IPA Kelas XII</div>
                                                    </div>
                                                    <div class="item-subtitle">38 Bab 45 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">IPS</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list media-list">
                                    <ul>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/ebook-previews/69199/235354/1.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">IPS Kelas X</div>
                                                    </div>
                                                    <div class="item-subtitle">34 Bab 50 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_59755b6bc0ab9390875727.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">IPS Kelas XI</div>
                                                    </div>
                                                    <div class="item-subtitle">40 Bab 55 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_5975715a31d0a443724631.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">IPS Kelas XII</div>
                                                    </div>
                                                    <div class="item-subtitle">38 Bab 45 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">Matematika</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list media-list">
                                    <ul>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/ebook-previews/69199/235354/1.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">Matematika Kelas X</div>
                                                    </div>
                                                    <div class="item-subtitle">34 Bab 50 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_59755b6bc0ab9390875727.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">Matematika Kelas XI</div>
                                                    </div>
                                                    <div class="item-subtitle">40 Bab 55 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-media">
                                                    <img src="https://a.cdn-myedisi.com/book/cover/bse-a_5975715a31d0a443724631.jpg"
                                                        width="80" class="rounded-5" /></div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">Matematika Kelas XII</div>
                                                    </div>
                                                    <div class="item-subtitle">38 Bab 45 Materi</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>