<div class="page" data-name="detail">
    <div class="navbar">
        <div class="navbar-bg bg-blue "></div>
        <div class="navbar-inner color-white">
            <div class="left">
                <a class="link back">
                    <i class="f7-icons">arrow_left</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content bg-color-light">
        <section class="section-detail-header bg-blue no-margin-top padding">
            <div class="row">
                <div class="col">
                    <div class="block-title block-title-medium no-margin-left no-margin-bottom fw-700 text-color-white">
                        Jadwal Pelajaran
                    </div>
                    <p class="text-color-white">Asah Kemampuan mu disini
                        gratis bisa kamu print</p>
                </div>
                <div class="col">
                    <img src="../assets/images/svg/illustration-page.svg" class="w-100" alt="">
                </div>
            </div>
        </section>

        <section class="section-lesson-time padding">
            <div class="row">
                <div class="list accordion-list">
                    <ul>
                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">Senin</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="block">
                                    <div class="list media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Bahasa Indonesia</div>
                                                        </div>
                                                        <div class="item-text">07:00 - 08:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">PKN</div>
                                                        </div>
                                                        <div class="item-text">08:00 - 09:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">IPA</div>
                                                        </div>
                                                        <div class="item-text">09:30 - 11:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Pendidikan Agama</div>
                                                        </div>
                                                        <div class="item-text">11:00 - 12:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">Selasa</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="block">
                                    <div class="list media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Bahasa Indonesia</div>
                                                        </div>
                                                        <div class="item-text">07:00 - 08:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">PKN</div>
                                                        </div>
                                                        <div class="item-text">08:00 - 09:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">IPA</div>
                                                        </div>
                                                        <div class="item-text">09:30 - 11:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Pendidikan Agama</div>
                                                        </div>
                                                        <div class="item-text">11:00 - 12:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">Rabu</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="block">
                                    <div class="list media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Bahasa Indonesia</div>
                                                        </div>
                                                        <div class="item-text">07:00 - 08:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">PKN</div>
                                                        </div>
                                                        <div class="item-text">08:00 - 09:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">IPA</div>
                                                        </div>
                                                        <div class="item-text">09:30 - 11:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Pendidikan Agama</div>
                                                        </div>
                                                        <div class="item-text">11:00 - 12:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">Kamis</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="block">
                                    <div class="list media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Bahasa Indonesia</div>
                                                        </div>
                                                        <div class="item-text">07:00 - 08:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">PKN</div>
                                                        </div>
                                                        <div class="item-text">08:00 - 09:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">IPA</div>
                                                        </div>
                                                        <div class="item-text">09:30 - 11:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Pendidikan Agama</div>
                                                        </div>
                                                        <div class="item-text">11:00 - 12:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="item-content item-link" href="#">
                                <div class="item-inner">
                                    <div class="item-title">Jumat</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="block">
                                    <div class="list media-list">
                                        <ul>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Penjaskes</div>
                                                        </div>
                                                        <div class="item-text">07:00 - 09:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Seni Budaya</div>
                                                        </div>
                                                        <div class="item-text">9:00 - 10:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="item-link item-content">
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Bahasa Inggris</div>
                                                        </div>
                                                        <div class="item-text">10:00 - 11:00</div>
                                                    </div>
                                                </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>