<div class="page" data-name="detail">
    <div class="navbar">
        <div class="navbar-bg bg-blue "></div>
        <div class="navbar-inner color-white">
            <div class="left">
                <a class="link back">
                    <i class="f7-icons">arrow_left</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content bg-color-light">
        <section class="section-detail-header bg-blue no-margin-top padding">
            <div class="row">
                <div class="col">
                    <div
                        class="block-title block-title-medium no-margin-left no-margin-bottom fw-700 text-color-white">
                        Nilai
                    </div>
                    <p class="text-color-white">Asah Kemampuan mu disini
                        gratis bisa kamu print</p>
                </div>
                <div class="col">
                    <img src="../assets/images/svg/illustration-page.svg" class="w-100" alt="">
                </div>
            </div>
        </section>
        <section class="section-detail-panel padding">
            <div class="searchbar searchbar-inline margin-bottom">
                <div class="searchbar-input-wrap ">
                    <input type="search" placeholder="Cari Nilai" class="rounded-7" />
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                </div>
            </div>
        </section>
        <section class="section-score block padding-bottom no-margin-top">
            <div class="list media-list no-margin-top">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Bahasa Indonesia</div>

                                </div>
                                <div class="item-text">80</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Bahasa Inggris</div>
                                </div>
                                <div class="item-text">92</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">IPA</div>
                                </div>
                                <div class="item-text">77</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">IPS</div>
                                </div>
                                <div class="item-text">80</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Matematika</div>
                                </div>
                                <div class="item-text">75</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Pendidikan Agama</div>
                                </div>
                                <div class="item-text">82</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Seni Budaya</div>
                                </div>
                                <div class="item-text">86</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">PKN</div>
                                </div>
                                <div class="item-text">77</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Penjaskes</div>
                                </div>
                                <div class="item-text">88</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
       
       

    </div>
</div>