<div class="page" data-name="detail">
    <div class="navbar">
        <div class="navbar-bg bg-blue "></div>
        <div class="navbar-inner color-white">
            <div class="left">
                <a class="link back">
                    <i class="f7-icons">arrow_left</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content bg-color-light">
        <section class="section-detail-header bg-blue no-margin-top padding">
            <div class="row">
                <div class="col">
                    <div
                        class="block-title block-title-medium no-margin-left no-margin-bottom fw-700 text-color-white">
                        Pekerjaan Rumah
                    </div>
                    <p class="text-color-white">Asah Kemampuan mu disini
                        gratis bisa kamu print</p>
                </div>
                <div class="col">
                    <img src="../assets/images/svg/illustration-page.svg" class="w-100" alt="">
                </div>
            </div>

        </section>
        <section class="section-homework block padding-bottom">
            <div class="heading display-flex justify-content-space-between align-items-center">
                <div class="block-title-medium fw-600">Pekerjaan Rumah</div>
                <!-- <a href="#" class="text-color-black">See all</a> -->
            </div>
            <div class="list media-list ">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media align-self-center">
                                <div class="num"><span></span></div>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Bahasa Indonesia</div>

                                </div>
                                <div class="item-subtitle">Hingga Jumat, 09/09/2022</div>

                                <div class="item-text">Cari kelompok masing-masing 5 orang untuk membuat sebuah drama
                                    (topik bebas)</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media align-self-center">
                                <div class="num"><span></span></div>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">IPA</div>
                                </div>
                                <div class="item-subtitle">Hingga Kamis, 08/09/2022</div>
                                <div class="item-text">Pilihan Ganda Halaman 105</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media align-self-center">
                                <div class="num"><span></span></div>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">IPS</div>
                                </div>
                                <div class="item-subtitle">Hingga Rabu, 07/09/2022</div>

                                <div class="item-text">Bikin makalah tentang kerajaan yang ada di Indonesia</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>