<div class="page" data-name="detail">
    <div class="navbar">
        <div class="navbar-bg bg-blue "></div>
        <div class="navbar-inner color-white">
            <div class="left">
                <a class="link back">
                    <i class="f7-icons">arrow_left</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content bg-color-light">
        <section class="section-profile">
            <form class="list" id="my-form">
                <ul>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Name</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="name" placeholder="Your name" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">E-mail</div>
                                <div class="item-input-wrap">
                                    <input type="email" name="email" placeholder="E-mail" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Gender</div>
                                <div class="item-input-wrap">
                                    <select name="gender">
                                        <option value="male" selected="selected">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="padding">
                        <div class="col"><a class="button button-fill" href="#">Save</a></div>

                    </div>

                </ul>
            </form>
        </section>
    </div>
</div>