/* Your app custom styles here */
html * {
    font-family: 'Work Sans', sans-serif;
}

body {}

:root {
    --blue: #2F80ED;
    --fade-blue: #459BD51A;
    --fade-purple: #FCE9FF;
    --fade-orange: #FFF4EA;
    --dark-grey: #3B4C68;
}

.page {
    background-color: #F8F6FF;
}

/* =========== Grid System ===========  */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 1rem;
    grid-row-gap: 1rem; */
}

/* =========== Color Pallets =========== */
.bg-blue {
    background-color: var(--blue) !important;
}

.bg-fade-blue {
    background-color: var(--fade-blue) !important;
}

.bg-fade-purple {
    background-color: var(--fade-purple) !important;
}

.bg-fade-orange {
    background-color: var(--fade-orange) !important;
}

/* =========== Button =========== */
.btn-primary {
    background-color: var(--blue);
    color: #FFF;
}

.btn-sort {
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    color: #333;
}

/* =========== Typography =========== */
.text-primary {
    color: var(--dark-grey);
}

.text-light {
    color: var(--dark-grey);
    opacity: .5;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.rounded-5 {
    border-radius: 5px !important;
}

.rounded-6 {
    border-radius: 6px !important;
}

.rounded-7 {
    border-radius: 7px !important;
}

.rounded-8 {
    border-radius: 8px !important;
}

.rounded-9 {
    border-radius: 9px !important;
}

.rounded-10 {
    border-radius: 10px !important;
}

.capitalize {
    text-transform: capitalize;
}

/* =========== Main Toolbars ===========  */
.main-toolbar a {
    color: var(--dark-grey);
}

/* =========== Navbar ===========  */
.navbar-bg:before {
    display: none;
}

.navbar-images .title-large {}

/* =========== Section Absen ===========  */
.section-absen {
    background: url(../assets/images/pattern/pattern-line.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-absen .list ul:before,
.section-absen .list ul:after {
    display: none;
}

.section-absen .list .item-inner:after {
    display: none;
}

.section-absen .media-list .item-link .item-title-row:before {
    margin-top: 0;
}

.section-absen .list .item-content {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-bottom: .5rem;
    background-color: #FFF;

}

/* =========== Section Features ===========  */
.section-features .demo-card-header-pic {
    box-shadow: unset;
    margin: 10px;
    text-align: center;
}

.section-features .demo-card-header-pic .card-image {
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.section-features .demo-card-header-pic .card-image img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 30px;
}

.section-features .demo-card-header-pic .card-content {
    background-color: transparent;
}

.section-features .demo-card-header-pic .card-content p {
    color: #3B4C68;
    margin: .3rem 0;
}

/* =========== Section Class ===========  */
.section-schedule ul {
    counter-reset: NumberSchedule;

}

.section-schedule .list ul:before,
.section-schedule .list ul:after {
    display: none;
}

.section-schedule .list .item-inner:after {
    display: none;
}

.section-schedule .media-list .item-link .item-title-row:before {
    margin-top: 0;
}

.section-schedule .list .item-content {
    border-radius: 16px;
    margin-bottom: .5rem;
    background-color: #EEE8FF;
}

.section-schedule .item-content .item-media .num {
    position: relative;
    background-color: #C4B7EF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.section-schedule .item-content .item-media .num span {}

.section-schedule .item-content .item-media .num span:before {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: #694ACA;
    counter-increment: NumberSchedule +1;
    content: counter(NumberSchedule);
}

.section-schedule .item-subtitle {
    color: #694ACA;
}

.section-schedule .item-subtitle i {
    font-size: 14px;
}

/* =========== Section Homework ===========  */
.section-homework ul {
    counter-reset: NumberHomeWork;

}

.section-homework .list ul:before,
.section-homework .list ul:after {
    display: none;
}

.section-homework .list .item-inner:after {
    display: none;
}

.section-homework .media-list .item-link .item-title-row:before {
    margin-top: 0;
    display: none;
}

.section-homework .list .item-content {
    border-radius: 16px;
    margin-bottom: .5rem;
    background-color: #EEE8FF;

}

.section-homework .item-content .item-media .num {
    position: relative;
    background-color: #C4B7EF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.section-homework .item-content .item-media .num span {}

.section-homework .item-content .item-media .num span:before {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: #694ACA;
    counter-increment: NumberHomeWork +1;
    content: counter(NumberHomeWork);
}

.section-homework .item-subtitle {
    color: #694ACA;
}

.section-homework .item-subtitle i {
    font-size: 14px;
}

.section-homework .item-text {
    overflow: auto;
}

/* =========== Section Lesson Time ===========  */
.section-lesson-time {}

.section-lesson-time ul {
    background: transparent;
}

.section-lesson-time .accordion-list {
    width: 100%;
}

.section-lesson-time .accordion-item {
    border-radius: 16px;
    margin-bottom: .5rem;
    background-color: #FFF;
}

.section-lesson-time .accordion-item-content .media-list .item-link .item-title-row:before {
    display: none;
}

/* =========== Section Score ===========  */
.section-score ul {
    counter-reset: NumberScore;
    background: transparent;
}

.section-score .list ul:before,
.section-score .list ul:after {
    display: none;
}

.section-score .list .item-inner:after {
    display: none;
}

.section-score .media-list .item-link .item-title-row:before {
    margin-top: 0;
    display: none;
}

.section-score .list .item-content {
    border-radius: 16px;
    margin-bottom: .5rem;
    background-color: #FFF;

}

.section-score .item-content .item-media .num {
    position: relative;
    background-color: #C4B7EF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.section-score .item-content .item-media .num span {}

.section-score .item-content .item-media .num span:before {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: #694ACA;
    counter-increment: NumberScore +1;
    content: counter(NumberScore);
}

.section-score .item-subtitle {
    color: #694ACA;
}

.section-score .item-subtitle i {
    font-size: 14px;
}

.section-score .item-text {
    overflow: auto;
}

/* =========== Section Exam ===========  */
.section-exam ul {
    counter-reset: NumberExam;

}

.section-exam .list ul:before,
.section-exam .list ul:after {
    display: none;
}

.section-exam .list .item-inner:after {
    display: none;
}

.section-exam .media-list .item-link .item-title-row:before {
    margin-top: 0;
    display: none;
}

.section-exam .list .item-content {
    border-radius: 16px;
    margin-bottom: .5rem;
    background-color: #EEE8FF;

}

.section-exam .item-content .item-media .num {
    position: relative;
    background-color: #C4B7EF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.section-exam .item-content .item-media .num span {}

.section-exam .item-content .item-media .num span:before {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: #694ACA;
    counter-increment: NumberExam +1;
    content: counter(NumberExam);
}

.section-exam .item-subtitle {
    color: #694ACA;
}

.section-exam .item-subtitle i {
    font-size: 14px;
}

.section-exam .item-text {
    overflow: auto;
}


/* =========== Section Detail ===========  */
.section-detail-header {
    background: url(../assets/images/pattern/pattern-line.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.section-detail-panel .searchbar.searchbar-inline .searchbar-input-wrap {
    height: 50px;
}

.section-detail-panel .searchbar input[type=search] {
    border: 1px solid #E0E0E0;

}